<% title_helper('Schedule Tailor - Thank You') %>

<div class="row content-wrapper">
  <h4>Thanks for scheduling a tailor!</h4>
  <div class="twelve columns outlined">
    <p>We have received your request to schedule a tailor. A Tailored Republic representative will contact you with
      details in the next 24 hours.</p>
    <%= link_to 'Go To Shop', '/shop/suits', class: 'button large full-width' %>
  </div>
</div>

<script>
  mixpanel.track('Scheduled a Tailor');
</script>

