<a class="close-reveal-modal">&#215;</a>
<h2>{{name}}<span class="divider">&nbsp;//&nbsp;</span>${{decimalToInteger price}}</h2>
<div class="five columns preview-wrapper">
  <ul class="modal-suit-preview three columns">
    <li><a href="#"><img src="assets/{{image_small_1_url}}"></a></li>
    <li><a href="#"><img src="assets/{{image_small_2_url}}"></a></li>
    <li><a href="#"><img src="assets/{{image_small_3_url}}"></a></li>
    <li><a href="#"><img src="assets/{{image_small_4_url}}"></a></li>
  </ul>
  <div class="magnify nine columns">
    <div class="large"></div>
    <img class="main small" src="assets/{{image_large_url}}">
  </div>
</div>
<div class="seven columns">
  <p class="blurb">{{description}}</p>
  <div class="customizations">
    <h3 class="customize">Customize</h3>
    <ul class="chevrons">
      <li data-type="lapel">
        <a href="#"><img class="selected" src="assets/icons/chevron-selected.png"></a>
      </li>
      <li data-type="buttons">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
      <li data-type="vents">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
      <li data-type="pleats">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
      <li data-type="pant_cuffs">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
      <li data-type="fit">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
      <li data-type="lining">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
      <li data-type="monogram">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
      <li data-type="advanced">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
      <li data-type="vest">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
      <li data-type="checkout">
        <a href="#"><img src="assets/icons/chevron.png"></a>
      </li>
    </ul>
    <div class="customization-wrapper" data-type="lapel">
      <h3>Lapel<a href="#" class="right" title="Next customization"></a></h3>
      <a href="#" class="customization-option four" data-option="notch">
        <h5>Notch</h5>
        <img src="assets/customizations/lapel-notch-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="peak">
        <h5>Peak</h5>
        <img src="assets/customizations/lapel-peak-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="narrow">
        <h5>Narrow</h5>
        <img src="assets/customizations/lapel-narrow-black.png">
      </a>
      <p>Notch lapels are the most widely used lapels and are a safe and stylish choice for any suit. Peak lapels add a
        little pizazz for those who want to stand out. TR tip: If you are unsure, go with the notch lapel, you don’t
        necessarily want anything to distract from the perfect fit of your tailored suit.</p>
    </div>
    <div class="customization-wrapper" data-type="buttons" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Buttons<a href="#" class="right" title="Next customization"></a></h3>
      <a href="#" class="customization-option four" data-option="1">
        <h5>One</h5>
        <img src="assets/customizations/buttons-one-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="2">
        <h5>Two</h5>
        <img src="assets/customizations/buttons-two-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="3">
        <h5>Three</h5>
        <img src="assets/customizations/buttons-three-black.png">
      </a>
      <p>The modern standard and a fashionable choice is the two button suit. Two button suits fit more of a classic
        style and look great on taller guys. A one button suit is a very stylish option for those who want to be
        adventurous. TR tip: If you are going to add a vest, stick with the two button jacket.</p>
    </div>
    <div class="customization-wrapper" data-type="vents" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Vents<a href="#" class="right" title="Next customization"></a></h3>
      <a href="#" class="customization-option four" data-option="0">
        <h5>None</h5>
        <img src="assets/customizations/vents-none-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="1">
        <h5>One</h5>
        <img src="assets/customizations/vents-one-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="2">
        <h5>Two</h5>
        <img src="assets/customizations/vents-two-black.png">
      </a>
      <p>Having two vents is the traditional, safe and stylish choice. One vent is a way to make your suit modern and
        sleek without distracting from the excellent fit (we love the single vent). TR tip: If you are a shorter guy,
        go ahead and get the double vent, the vertical vents help to draw the eye upward and elongate the body.</p>
    </div>
    <div class="customization-wrapper" data-type="pleats" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Pleats<a href="#" class="right" title="Next customization"></a></h3>
      <a href="#" class="customization-option four" data-option="0">
        <h5>None</h5>
        <img src="assets/customizations/pleats-none-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="1">
        <h5>One</h5>
        <img src="assets/customizations/pleats-one-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="2">
        <h5>Two</h5>
        <img src="assets/customizations/pleats-two-black.png">
      </a>
      <p>Pleats are typically associated with old-fashioned suits. If you are looking for a modern, trendier look, we
        recommend going with no pleats and no cuffs on the pants.</p>
    </div>
    <div class="customization-wrapper two-item" data-type="pant_cuffs" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Cuffs<a href="#" class="right" title="Next customization"></a></h3>
      <a href="#" class="customization-option" data-option="false">
        <h5>None</h5>
        <img src="assets/customizations/cuffs-no-black.png" class="cuffs">
      </a>
      <a href="#" class="customization-option" data-option="true">
        <h5>Cuffs</h5>
        <img src="assets/customizations/cuffs-yes-black.png" class="cuffs">
      </a>
      <p>Pant cuffs were a suit staple in previous decades, but unless you are going for an older, more classic look,
        we recommend sticking with no pant cuffs. It keeps the suit lines clean and sharp, keeping those heads on a
        swivel.</p>
    </div>
    <div class="customization-wrapper" data-type="fit" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Fit<a href="#" class="right" title="Next customization"></a></h3>
      <a href="#" class="customization-option four" data-option="slim">
        <h5>Slim</h5>
        <img src="assets/customizations/fit-slim-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="tailored">
        <h5>Tailored</h5>
        <img src="assets/customizations/fit-tailored-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="normal">
        <h5>Normal</h5>
        <img src="assets/customizations/fit-normal-black.png">
      </a>
      <p>The tailored fit is guaranteed to look great on most guys. A regular fit is great for guys with a fuller
        figure. And the slim fit is great for lean guys who want a very tight fitting suit and know they will not have
        any weight changes in the future. TR tip: Regardless of the fit option, our suits are tailored to your
        measurements, so slim or full-figured, your suit will look and feel great.</p>
    </div>
    <div class="customization-wrapper two-item" data-type="lining" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Lining<a href="#" class="right" title="Next customization"></a></h3>
      <div class="customization-option">
        <img src="assets/customizations/lining-black.png" class="lining">
      </div>
      <div class="customization-option linings">
        <div class="four columns">
          <a href="#" class="lining-option" data-id="12345"></a>
          <a href="#" class="lining-option" data-id="2312"></a>
          <a href="#" class="lining-option" data-id="23523"></a>
          <a href="#" class="lining-option" data-id="123213"></a>
        </div>
        <div class="four columns">
          <a href="#" class="lining-option" data-id="461"></a>
          <a href="#" class="lining-option" data-id="346"></a>
          <a href="#" class="lining-option" data-id="345"></a>
          <a href="#" class="lining-option" data-id="123531"></a>
        </div>
        <div class="four columns">
          <a href="#" class="lining-option" data-id="967"></a>
          <a href="#" class="lining-option" data-id="3463"></a>
          <a href="#" class="lining-option" data-id="1245745345"></a>
          <a href="#" class="lining-option" data-id="345342"></a>
        </div>
      </div>
      <p>The most common selection is matching lining, which works with the suit to bring out the fabrics natural
        intrigue. Contrasting linings are a great choice if you want to add a little flash to your suit, making your
        suit stand out. TR tip: A unique lining is a great way to make your suit stand out and really separates your
        suit from the off-the-rack crowd; we recommend being bold.</p>
    </div>
    <div class="customization-wrapper two-item" data-type="monogram" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Monogram<a href="#" class="right" title="Next customization"></a></h3>
      <div href="#" class="customization-option">
        <img src="assets/customizations/monogram-black.png" class="monogram">
      </div>
      <div class="customization-option">
        <p>Monogram (15 character max)</p>
        <input type="text" name="monogram" maxlength="15">
      </div>
      <p>Monogramming can be up to 15 characters, usually used for your name (i.e. 'Richard Feynman' or 'R.P.F.' or
        'R. Feynman'). It will show up on the inside of your jacket above the left breast pocket. Feel free to put
        whatever you want here, just keep in mind that people will see it when you are showing off your envy-inducing
        lining.</p>
    </div>
    <div class="customization-wrapper two-item" data-type="advanced" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Advanced<a href="#" class="right" title="Next customization"></a></h3>
      <a href="#" class="customization-option" data-option="bouttoniere">
        <h5>Functional Bouttoniere</h5>
        <img src="assets/customizations/bouttoniere-black.png">
      </a>
      <a href="#" class="customization-option" data-option="pick_stitching">
        <h5>Pick Stitching</h5>
        <img src="assets/customizations/pick-stitching-black.png">
      </a>
      <p>Pick stitching really emphasizes the stitching on your suit making it clear that you went with a tailored
        option. This is a fairly bold look, so we recommend opting out unless you are familiar with the look and know
        you want it. The functional boutonniere is simply a sleeve that can be unbuttoned—it doesn’t make a huge
        difference what you choose here.</p>
    </div>
    <div class="customization-wrapper" data-type="vest" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Vest?<a href="#" class="right" title="Next customization"></a></h3>
      <a href="#" class="customization-option four" data-option="three">
        <h5>Three Buttons</h5>
        <img src="assets/customizations/vest-three-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="four">
        <h5>Four Buttons</h5>
        <img src="assets/customizations/vest-four-black.png">
      </a>
      <a href="#" class="customization-option four" data-option="five">
        <h5>Five Buttons</h5>
        <img src="assets/customizations/vest-five-black.png">
      </a>
      <p>Do you want to make your suit a three-piece? You can add a matching vest to your suit order for $79. A
        three-piece suit is sure to draw looks and makes a bold statement that you are serious about your style game. TR
        tip: three-piece look especially good on taller guys because it breaks up the vertical lines and gives your look
        an additional layer of complexity.</p>
    </div>
    <div class="customization-wrapper" data-type="checkout" style="display: none;">
      <h3><a href="#" class="left" title="Previous customization"></a>Checkout</h3>
      <!--<h5>Your customizations:</h5>-->
      <div class="customization-summary"></div>
    </div>
  </div>
</div>