<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Somebody has submitted a request to schedule a tailoring.</p>
<p>Name: <%= @name %></p>
<p>Email: <%= @email %></p>
<p>Zip: <%= @zip_code %></p>
</body>
</html>