<% title_helper('Tape Measure - Thank You') %>

<div class="row content-wrapper">
  <h4>Thanks for requesting a tape measure!</h4>
  <div class="twelve columns outlined">
    <p>Your tape measure request has been received. You can expect a tape measure in the mail in a few days.</p>
    <%= render 'shared/social_media_dock' %>
  </div>
</div>

