<div class="row">
  <div class="six columns centered">
    <h2>Edit User</h2>
    <%= render 'form', user: @user %>
    <%= link_to 'Back to users', users_path, class: 'button margin-bottom' %>
  </div>
</div>