<div class="row">
  <div class="twelve columns content-wrapper">
    <h1>Editing coupon</h1>
    <%= render 'form', coupon: @coupon %>
    <%= link_to 'Back to coupons', coupons_path, class: 'button margin-bottom' %>
  </div>
</div>
