<% title_helper('Gift Cards') %>

<div class="row content-wrapper">
  <div class="twelve columns">
    <h2>Gift Cards</h2>
    <div class="outlined">
      <p>A tailored suit is a brilliant gift because not only will the recipient be undeniably excited, but also you as
        the giver will get to reap the benefits of seeing your friend, boyfriend, husband, son, etc. looking sharper than ever.
        We like win win situations.</p>
      <p>Click on one of the gift cards below to add it to your cart.</p>
    </div>
  </div>
</div>

<% @gift_cards.in_groups_of(3).each do |gift_card_array| %>
  <div class="row content-wrapper gift-card-row">
    <% gift_card_array.each do |gift_card| %>
      <div class="four columns">
        <a href="#" data-price="<%= gift_card.price.to_i %>" data-id="<%= gift_card.id %>"><%= image_tag gift_card.default_photo.photo.url(:original) unless gift_card.default_photo.nil? %></a>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  new TR.Views.GiftCard();
</script>