<div id="shop-display" class="content-wrapper">
  <div class="suits-wrapper">
  </div>
</div>

<%= render "layouts/footer" %>

<script>
  $(function() {
    new TR.Views.Shop({products: <%= @suits.to_json.html_safe %>});
  });
</script>