<div id="shop-display" class="content-wrapper">
  <div id="suits-wrapper">
    <%= render @suits %>
    <%= render @suits %>
  </div>
</div>

<nav id="sidebar">
</nav>

<%= render "layouts/footer" %>

<script>
  $(function() {
    new TR.Views.Shop({products: <%= @suits.to_json.html_safe %>});
  });
</script>