<article id="about" data-magellan-destination="about">
  <h2>ABOUT US</h2>
  <div class="content-wrapper">
    <div class="six columns">
      <p>
        <span class="divider">//</span>
        Here at Tailored Republic we are all about breaking the mold. People keep telling us that if we want to operate a
        tailored suit company that we need to move to New York or London. Well, we kind of like Los Angeles to tell you
        the truth.
      </p>
      <p>Just because we love wearing beautifully crafted suits doesn’t mean that we don’t also enjoy road trips to Vegas
        or tequila-infused beach volleyball in November. It is the perfect fit for the lifestyle that we want to live. And
        that’s what it comes down to, doesn’t it? Finding the perfect fit.
      </p>
      <p>At a certain point during the Tailored Republic process, it stops being about just buying a suit anymore. Things
        become about you. We realize that dressing well is not about being somebody you are not, it is about being the
        best version of you. From the lining to the number of buttons to the shape of the lapel, we want you to do you!
      </p>
    </div>
    <div class="six columns">
      <h3>"We realize that dressing well is not about being somebody that you are not, it is about being the best version
        of you."</h3>
      <%= image_tag 'brown-star.png' %>
    </div>
  </div>
</article>