<div id="checkout-progress">
  <div class="row">
    <div class="three columns <%= 'current' if current == :measurements %>">
      1. Measurements
    </div>
    <div class="three columns <%= 'current' if current == :customer_information %>">
      2. Customer Information
    </div>
    <div class="three columns <%= 'current' if current == :review_order %>">
      3. Review Order
    </div>
    <div class="three columns <%= 'current' if current == :order_complete %>">
      4. Order Complete
    </div>
  </div>
</div>