<tr>
  <td colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
    <ul style="list-style-type: none; list-style: none;margin: 0;padding:0; text-align: center;">
      <a href="http://www.facebook.com/TailoredRepublic" target="_blank" style="text-decoration: none;">
        <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/facebook-icon-black.png" width="60" height="60" alt="Facebook"></li>
      </a>
      <a href="https://twitter.com/T_Republic" target="_blank" style="text-decoration: none;">
        <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/twitter-icon-black.png" width="60" height="60" alt="Twitter"></li>
      </a>
      <a href="mailto:info@tailoredrepublic.com" style="text-decoration: none;">
        <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/email-icon-black.png" width="60" height="60" alt="Email"></li>
      </a>
      <a href="http://instagram.com/tailoredrepublic" target="_blank" style="text-decoration: none;">
        <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/instagram-icon-black.png" width="60" height="60" alt="Instagram"></li>
      </a>
      <a href="http://blog.tailoredrepublic.com" target="_blank" style="text-decoration: none;">
        <li style="display: inline-block;"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/icons/social/tumblr-icon-black.png" width="60" height="60" alt="Blog"></li>
      </a>
    </ul>
  </td>
</tr>