<% if resource.errors.any? %>
  <p class="error">There were some problems submitting your form:</p>
  <ul class="error">
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>