<article id="top-picks" data-magellan-destination="top-picks">
  <h2>TOP PICKS</h2>
  <div class="content-wrapper">
    <div class="products-wrapper">
      <h3>A hand-selected showcase of our favorite suits</h3>
      <%= render top_picks %>
    </div>
    <div class="shop-now">
      <%= link_to 'SHOP NOW', '/shop/suits' %>
    </div>
  </div>
</article>