<div class="suit-wrapper three columns">
  <img src="<%= asset_path "charcoal-grey.jpg" %>">
  <div class="suit-info-wrapper">
    <div class="suit-info">
      <div class="suit-name">Classic Charcoal</div>
      <a href="#" class="customize">Click To Customize</a>
    </div>
    <div class="suit-price"><span class="dollar">$</span><span class="price">350</span></div>
  </div>
</div>