<nav id="sidebar">
  <ul>
    <li><a href="#">The Process</a></li>
    <li><a href="#">Shop</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Lookbook</a></li>
    <li><a href="#">Info</a></li>
  </ul>
</nav>

<article id="home">
  <img id="logo" src="<%= asset_path "logo-shield.png" %>" alt="Tailored Republic">
  <img src="<%= asset_path "background-main.png" %>">
  <div id="home-navigation">
    <a href="#">log in</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="#">register</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="#">SHOP</a>
    <span class="divider">&nbsp;/&nbsp;/</span>
    <a href="#">or continue scrolling</a>
  </div>
  <a class="page-down" href="#"><img src="<%= asset_path "page-down.png" %>"></a>
</article>

<article id="process">
  <h2>The Process</h2>
</article>
