<% title_helper('Get A Free Measuring Tape') %>

<div class="row">
  <div class="six columns centered">
    <h2>Get a Free Measuring Tape</h2>
    <div class="outlined">
      <p class="bold">Enter your name and address and we will send you a free Tailored Republic measuring tape.</p>
      <% unless user_signed_in? %>
        <p class="bold">If you have an account with a shipping address, <%= link_to 'sign in to autofill your address.', new_user_session_path %> </p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="six columns centered">
    <%= render 'shared/form_errors', resource: @address %>
    <%= render 'addresses/form', address: @address, action: 'new_tape_address', phone: false %>
  </div>
</div>