<% title_helper('Partners') %>

<div class="row content-wrapper">
  <div class="twelve columns">
    <h2>Partners</h2>

    <h4>Daniella Dolenc</h4>
    <p><%= link_to 'Website', 'http://danielladolenc.com/', target: '_blank' %></p>

    <h4>Liana Rose</h4>
    <p><%= link_to 'Website', 'https://www.facebook.com/LianaRosePhotography', target: '_blank' %></p>
  </div>
</div>