<% title_helper('Partners') %>

<div class="row content-wrapper">
  <div class="twelve columns">
    <h2>Partners</h2>
    <p>A big thanks to everyone who has helped us along the way:</p>
    <p><strong>StartEngine</strong>: <%= link_to 'http://www.startengine.com', 'http://www.startengine.com', target: '_blank' %></p>
    <p><strong>Daniella Dolenc</strong> for the product photography: <%= link_to 'http://www.danielladolenc.com', 'http://www.danielladolenc.com', target: '_blank' %></p>
    <p><strong>Liana Kramer</strong> for the lifestyle photography: <%= link_to 'http://www.facebook.com/LianaRosePhotography', 'http://www.facebook.com/LianaRosePhotography', target: '_blank' %></p>
    <p>All of the website beta testers who responded with fantastic, analytical feedback that helped get the site to where it is at today.</p>
    <p>Our early adoption customers and the countless friends and family who have leant their support.</p>
  </div>
</div>