<% title_helper('Press') %>

<div class="row content-wrapper">
  <div class="twelve columns">
    <h2>Press</h2>
    <div class="outlined">
      <h4>Secret Entourage</h4>
      <p><%= link_to 'http://www.secretentourage.com/entrepreneur/eitm-jeff-settle/', 'http://www.secretentourage.com/entrepreneur/eitm-jeff-settle/' %></p>
      <blockquote>"We’re reinventing an ancient industry. Tailoring is a very old art with many skilled craftsmen.
        We’re bringing the best of the new world and blending it with the best of the old world to make an experience
        any modern dapper gentleman will enjoy."</blockquote>
      <h4>The Joy Writer</h4>
      <p><%= link_to 'http://thejoywriter.typepad.com/pure_unadulterated_joy/2013/04/by-joy-a-kennelly-recently-i-had-the-pleasure-of-meeting-two-very-handsome-men-as-im-wont-to-do-at-all-the-various-functi.html', 'http://thejoywriter.typepad.com/pure_unadulterated_joy/2013/04/by-joy-a-kennelly-recently-i-had-the-pleasure-of-meeting-two-very-handsome-men-as-im-wont-to-do-at-all-the-various-functi.html' %></p>
      <blockquote>"We make our customers happy and we make them look good. When our clients work with us, we give them an
        experience that is much more suited to the modern man than being dragged unwillingly around a department store.
        A lot of modern men love the convenience of being able to get an amazing wardrobe with a few simple clicks."
      </blockquote>
      <h4>StartEngine</h4>
      <p><%= link_to 'http://www.startengine.com/?company=tailored-republic', 'http://www.startengine.com/?company=tailored-republic' %></p>
    </div>
    <p>Want to reach out to us about doing article? Shoot us an email at <%= link_to 'info@tailoredrepublic.com', 'info@tailoredrepublic.com' %>.</p>
  </div>
</div>