<div class="row">
  <div class="twelve columns">
    <h2>Tailored Republic Team</h2>

    <h4>Jeff Settle, CEO</h4>
    <p>
      Authentic butcher flexitarian, ethnic semiotics deep v meh odd future american apparel stumptown post-ironic.
      Sriracha next level you probably haven't heard of them, brunch plaid helvetica leggings stumptown. Tousled organic
      next level locavore polaroid. Quinoa hella next level lo-fi, vegan food truck put a bird on it banh mi +1 iphone
      scenester selvage odd future hoodie. Master cleanse organic butcher, bicycle rights echo park 90's artisan art
      party etsy farm-to-table. Pork belly intelligentsia cosby sweater, organic narwhal gluten-free VHS chillwave
      mustache Austin fashion axe polaroid hashtag thundercats. Irony pug blue bottle carles, tumblr american apparel
      sustainable wayfarers farm-to-table vinyl hashtag.
    </p>

    <h4>Brian Luscombe, COO</h4>
    <p>
      Banjo blog fixie occupy, organic pitchfork selvage flannel chillwave synth. Chillwave quinoa ennui, carles
      flannel vice scenester selvage high life bicycle rights pinterest. 8-bit ennui ugh sartorial, vice helvetica
      thundercats narwhal scenester pug retro viral. +1 wes anderson wolf hashtag williamsburg umami meggings, raw denim
      master cleanse ennui godard. Chillwave truffaut +1, tumblr readymade leggings mixtape freegan. Cliche food truck
      organic mcsweeney's. Fap tonx fixie photo booth meh retro stumptown authentic kale chips.
    </p>

    <h4>Jordan Brown, CTO</h4>
    <p>
      8-bit tousled biodiesel, pickled portland fap selvage butcher. Neutra mustache iphone salvia, vinyl tofu
      shoreditch ennui. Butcher gentrify small batch aesthetic pug stumptown. Williamsburg viral wayfarers, sartorial
      freegan helvetica cliche. Direct trade banjo pop-up letterpress. Artisan vice bushwick narwhal, williamsburg small
      batch bespoke biodiesel messenger bag. Hashtag direct trade locavore, actually leggings flexitarian squid kogi
      stumptown butcher you probably haven't heard of them ugh flannel twee.
    </p>
  </div>
</div>

