<% title_helper('Team') %>

<div class="row content-wrapper">
  <div class="twelve columns">
    <h2>Tailored Republic Team</h2>

    <h4>Jeff Settle <span class="divider">//</span> CEO</h4>
    <p>The idea for Tailored Republic was born during a motorcycle trek up the coast of Vietnam on a (rarely working)
      $150 Russian Minsk dirtbike. Jeff's idea to bring affordable custom suits to men everywhere yielded Tailored
      Republic's Mission: to be the best option for today's men who need a badass suit that fits.
    </p>
    <p>To accomplish this mission, Jeff teamed up with Los Angeles-based Startup Accelerator StartEngine and childhood
      friend Brian Luscombe. Together, they recruited Jordan Brown (a friend of Brian's from USC) as CTO and set out to
      build the world's finest option for men who want to look their best in a suit.
    </p>
    <p>We hope you enjoy Tailored Republic and our World-Class made-to-measure suits. Contact Jeff directly on Twitter
      <%= link_to '@J_Settle.', 'https://twitter.com/j_settle', target: '_blank' %>
    </p>

    <h4>Brian Luscombe <span class="divider">//</span> COO</h4>
    <p>
      Born and raised in Portland, OR, Brian took off for sunnier pastures (more like sunnier pavement) when he moved
      down to Los Angeles to attend USC for Electrical Engineering.
    </p>
    <p>Upon graduation he dabbled in engineering for a bit
      before hopping on a flight to Haiti, where he did logistics for an NGO focusing on post-earthquake cholera relief
      efforts. Haiti was followed by 7 months of backpacking through SE Asia and India before a triumphant,
      giardia-ridden return to the states.
    </p>
    <p>After dabbling in another entrepreneurial endeavor, Yakka, he teamed up with his childhood friend, Jeff, to grow
      and transform Tailored Republic into what it has become today.
    </p>

    <h4>Jordan Brown <span class="divider">//</span> CTO</h4>
    <p>Jordan spent the first eighteen years of his life in suburban Mountain View, California, before heading south to
      Los Angeles to pursue a degree in computer science at the University of Southern California. While attending USC,
      he became close friends with Brian Luscombe, with whom he often talked about starting a company.
    </p>
    <p>After graduation
      he moved back north to San Francisco to work as a software engineer at Sunrun, building web applications that help
      to automate the design of home solar systems.
    </p>
    <p>After two and a half exciting years at Sunrun, Jordan jumped at the opportunity to craft the technology that would
      support Tailored Republic.
    </p>
  </div>
</div>

