<div class="row content-wrapper">
  <div class="twelve columns">
    <h2>Tailored Republic Team</h2>

    <h4>Jeff Settle, CEO</h4>
    <p>
      Authentic butcher flexitarian, ethnic semiotics deep v meh odd future american apparel stumptown post-ironic.
      Sriracha next level you probably haven't heard of them, brunch plaid helvetica leggings stumptown. Tousled organic
      next level locavore polaroid. Quinoa hella next level lo-fi, vegan food truck put a bird on it banh mi +1 iphone
      scenester selvage odd future hoodie. Master cleanse organic butcher, bicycle rights echo park 90's artisan art
      party etsy farm-to-table. Pork belly intelligentsia cosby sweater, organic narwhal gluten-free VHS chillwave
      mustache Austin fashion axe polaroid hashtag thundercats. Irony pug blue bottle carles, tumblr american apparel
      sustainable wayfarers farm-to-table vinyl hashtag.
    </p>

    <h4>Brian Luscombe, COO</h4>
    <p>
      Born and raised in Portland, OR, Brian took off for sunnier pastures (more like sunnier pavement) when he moved
      down to Los Angeles to attend USC for Electrical Engineering. Upon graduation he dabbled in engineering for a bit
      before hopping on a flight to Haiti, where he did logistics for an NGO focusing on post-earthquake cholera relief
      efforts. Haiti was followed by 7 months of backpacking through SE Asia and India before a triumphant,
      giardia-ridden return to the states. After dabbling in another entrepreneurial endeavor, Yakka, he teamed up with
      his childhood friend, Jeff, to grow and transform Tailored Republic into what it has become today.
    </p>

    <h4>Jordan Brown, CTO</h4>
    <p>
      Jordan spent the first eighteen years of his life in suburban Mountain View, California, before heading south to
      Los Angeles to pursue a degree in computer science at the University of Southern California. While attending USC,
      he became close friends with Brian Luscombe, with whom he often talked about starting a company. After graduation
      he moved back north to San Francisco to work as a software engineer at Sunrun, building web applications that help
      to automate the design of home solar systems. After two and a half exciting years at Sunrun, Jordan jumped at the
      opportunity to craft the technology that would support Tailored Republic.
    </p>
  </div>
</div>

