<div class="row">
  <div class="twelve columns">
    <h2>Weddings</h2>
    <p>We would love to get you and your groomsmen in suits that are worthy of being professionally photographed while
      you pop champagne on a crowded dance floor of friends and family. Contact us (*put email link + phone #) for our
      exclusive wedding package deals and detailed information.</p>
  </div>
</div>