<div class="row content-wrapper">
  <div class="six columns centered" id="weddings">
    <h2>Weddings</h2>
    <p>We would love to get you and your groomsmen in suits that are worthy of being professionally photographed while
      you pop champagne on a crowded dance floor of friends and family.
    <p>Contact us at <%= link_to 'info@tailoredrepublic.com', 'mailto:info@tailoredrepublic.com' %> or call us at
      218-3-Tailor (218-382-4567) for our exclusive wedding package deals and detailed information.</p>
  </div>
</div>