<div class="content-wrapper">
  <h1>Shopping Cart</h1>
  <div class="twelve columns">
    <%= render @cart.line_items %>
    <div class="empty-cart" <% unless @cart.empty? %> style="display: none;" <% end %>>
      <p>You haven't added anything to your cart yet.</p>
      <a href="/shop" class="button">Go To Shop</a>
    </div>
  </div>
  <div class="three columns">
    <div class="cart-total" <% if @cart.empty? %> style="display: none;" <% end %>>
      <h5>Total: <span class="price">$<%= @cart.total_price %></span></h5>
      <a href="/measurements" class="button full-width large">Checkout</a>
    </div>
  </div>
</div>

<script>
  $(function() {
    new TR.Views.Cart({lineItems: <%= @line_items.to_json.html_safe %>});
  });
</script>