<div class="content-wrapper">
  <h1>Shopping Cart</h1>
  <div class="twelve columns">
    <div class="cart-wrapper">
      <% @cart.cart_items.each do |cart_item| %>
        <%= render cart_item %>
      <% end %>
      <div class="empty-cart" <% unless @cart.empty? %> style="display: none;" <% end %>>
        <p>You haven't added anything to your cart yet.</p>
        <a href="shop" class="button">Go To Shop</a>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    new TR.Views.Cart();
  });
</script>