<% title_helper('Shopping Cart') %>

<div class="content-wrapper">
  <h1>Shopping Cart</h1>
  <%= render 'checkout' if @cart.num_items > 1 %>
  <%= render @cart.line_items %>
  <div class="empty-cart" <% unless @cart.empty? %> style="display: none;" <% end %>>
    <p>You haven't added anything to your cart yet.</p>
    <a href="/shop" class="button">Go To Shop</a>
  </div>
  <%= render 'checkout' %>
</div>

<script>
  $(function() {
    new TR.Views.Cart({lineItems: <%= @line_items.to_json.html_safe %>});
  });
</script>