<a class="close-reveal-modal">&#215;</a>
<h2>{{product.name}} <span class="divider">//</span> Customize</h2>
<div class="customizations">
  <ul class="progress-bar {{product.category}}">
    <li data-type="collar">{{{customizationHelper customization true}}}</li>
    <li data-type="fit">{{{customizationHelper customization}}}</li>
    <li data-type="pocket">{{{customizationHelper customization}}}</li>
    <li data-type="monogram">{{{customizationHelper customization}}}</li>
    <li data-type="checkout"><img src="{{imgSrc 'icons/star-no-stroke.png'}}"></li>
  </ul>
  <ul class="customization-list">
    <li class="customization-wrapper" data-type="collar">
      <h3>Collar</h3>
      <a href="#" class="customization-option three shirt" data-option="standard">
        <h5>Standard</h5>
        <img {{#ifeq collar "standard"}}class="checked"{{/ifeq}} src="{{imgSrc 'customizations/shirts/collar-standard.png'}}">
        <div class="recommended">
          <img src="{{imgSrc 'logos/logo-stitch.png'}}" class="shield"><span>Recommended</span>
        </div>
      </a>
      <a href="#" class="customization-option three shirt" data-option="cutaway">
        <h5>Cutaway</h5>
        <img {{#ifeq collar "cutaway"}}class="checked"{{/ifeq}} src={{imgSrc 'customizations/shirts/collar-cutaway.png'}}>
      </a>
      <a href="#" class="customization-option three shirt" data-option="straight">
        <h5>Straight</h5>
        <img {{#ifeq collar "straight"}}class="checked"{{/ifeq}} src="{{imgSrc 'customizations/shirts/collar-straight.png'}}">
      </a>
      <a href="#" class="customization-option three shirt" data-option="button-down">
        <h5>Button Down</h5>
        <img {{#ifeq collar "button-down"}}class="checked"{{/ifeq}} src="{{imgSrc 'customizations/shirts/collar-button-down.png'}}">
      </a>
      <p>The standard or straight collars are always a nice, clean TR-approved look. The cutaway collar is a solid
        option for someone that really wants to emphasize a wide tie knot, such as a Windsor. Button-down collars tend
        to be slightly more casual and can be a nice choice if you are not wearing the shirt with a suit.</p>
    </li>
    <li class="customization-wrapper two-item" data-type="fit">
      <h3>Fit</h3>
      <a href="#" class="customization-option" data-option="slim">
        <h5>Slim</h5>
        <img {{#ifeq fit "slim"}}class="checked"{{/ifeq}} src="{{imgSrc 'customizations/shirts/fit-slim.png'}}">
        <div class="recommended">
          <img src="{{imgSrc 'logos/logo-stitch.png'}}" class="shield"><span>Recommended</span>
        </div>
      </a>
      <a href="#" class="customization-option" data-option="normal">
        <h5>Normal</h5>
        <img {{#ifeq fit "normal"}}class="checked"{{/ifeq}} src="{{imgSrc 'customizations/shirts/fit-normal.png'}}">
      </a>
      <p>A slim fit helps to keep the shirt nice and tight to the body so that it doesn’t pooch out the suit in an
        unsightly way. If you are a fuller-figure man or are planning on wearing the shirt without a suit, a normal fit
        will look great.</p>
    </li>
    <li class="customization-wrapper two-item" data-type="pocket">
      <h3>Pocket</h3>
      <a href="#" class="customization-option" data-option="false">
        <h5>No Pocket</h5>
        <img {{#ifeq pocket false}}class="checked"{{/ifeq}} src="{{imgSrc 'customizations/shirts/pocket-no.png'}}">
        <div class="recommended">
          <img src="{{imgSrc 'logos/logo-stitch.png'}}" class="shield"><span>Recommended</span>
        </div>
      </a>
      <a href="#" class="customization-option" data-option="true">
        <h5>Pocket</h5>
        <img {{#ifeq pocket true}}class="checked"{{/ifeq}} src="{{imgSrc 'customizations/shirts/pocket-yes.png'}}">
      </a>
      <p>So the argument for pockets is that they are functional, but we say ditch the pocket and give your shirt that
        clean look. This is especially true if you are rocking a skinny tie; a bulky pocket can really throw off the
        whole balance of the look.</p>
    </li>
    <li class="customization-wrapper two-item" data-type="monogram">
      <h3>Monogram</h3>
      <div href="#" class="customization-option">
        <img src="{{imgSrc 'customizations/suits/monogram.png'}}" class="monogram">
      </div>
      <div class="customization-option">
        <form id="monogram-form">
          <label>Monogram (3 character max)</label>
          <input type="text" name="monogram" maxlength="3" value="{{monogram}}">
          <input type="submit" class="button full-width" value="Ok">
        </form>
      </div>
      <p>Shirt monogramming can be up to 3 characters, and is almost exclusively used to sport some initials. The
        monogram will show up on the sleeve cuff that will poke out the bottom of your suit sleeve. TR tip: keep the
        shirt monogram subtle and make it the same color of the shirt. It is still noticeable without being obnoxious.
        Black on black, white on white, pink on pink, you get the idea.</p>
    </li>
    <li class="customization-wrapper" data-type="checkout">
      <h3>Checkout</h3>
      <div class="customization-summary row">
        {{> customizationCheckoutShirt}}
      </div>
    </li>
  </ul>
</div>
<div class="row">
  <div class="six columns">
    <a href="#" class="button previous" style="display: none;">Previous</a>
  </div>
  <div class="six columns">
    <a href="#" class="button next">Next</a>
  </div>
</div>