<a class="close-reveal-modal">&#215;</a>

<h3>The {{product.name}} has been added to your shopping cart.</h3>

<div class="six columns button-column">
  <a href="#" class="button">Proceed To Checkout</a>
</div>
<div class="six columns button-column">
  <a href="#" class="button keep-shopping">Keep Shopping</a>
</div>

<h4>Other styles you might also like:</h4>

<div class="suits-wrapper">
  {{#each suggestedProducts}}
    {{> product}}
  {{/each}}
</div>

