<ul class="six columns">
  <li><a href="#" class="label" data-type="collar">Collar:</a> {{uppercaseFirst collar}}</li>
  <li><a href="#" class="label" data-type="fit">Fit:</a> {{uppercaseFirst fit}}</li>
  <li><a href="#" class="label" data-type="pocket">Pocket:</a> {{#if pocket}}Yes{{else}}No{{/if}}</li>
  <li><a href="#" class="label" data-type="monogram">Monogram:</a>{{monogram}} ({{monogram_color}})</li>
</ul>
<div class="six columns">
  <ul>
    <li><span class="label">Total cost:</span> ${{decimalToInteger price}}</li>
  </ul>
  {{#if isNew}}
  <a href="#" class="add-to-cart"><img src="/assets/icons/shopping-cart-black.png"></a>
  <a href="#" class="button add-to-cart">Add To Cart</a>
  {{else}}
  <a href="#" class="button save-changes">Save Changes</a>
  {{/if}}
</div>