<ul class="four columns">
  {{#if chooseFabric}}
    <li><a href="#" class="label" data-type="swatch">Fabric:</a> {{fabric}}</li>
  {{/if}}
  <li><a href="#" class="label" data-type="lapel">Lapel:</a> {{uppercaseFirst lapel}}</li>
  <li><a href="#" class="label" data-type="buttons">Buttons:</a> {{numberToString buttons}}</li>
  <li><a href="#" class="label" data-type="vents">Vents:</a> {{numberToString vents}}</li>
  <li><a href="#" class="label" data-type="pleats">Pleats:</a> {{numberToString pleats}}</li>
  <li><a href="#" class="label" data-type="pant_cuffs">Cuffs:</a> {{#if pant_cuffs}}Yes{{else}}No{{/if}}</li>
  <li><a href="#" class="label" data-type="fit">Fit:</a> {{uppercaseFirst fit}}</li>
</ul>
<ul class="four columns">
  <li><a href="#" class="label" data-type="lining">Lining:</a> {{lining}}</li>
  <li><a href="#" class="label" data-type="monogram">Monogram:</a> {{monogram}}</li>
  <li><a href="#" class="label" data-type="advanced">Bouttoniere:</a> {{#if bouttoniere}}Yes{{else}}No{{/if}}</li>
  <li><a href="#" class="label" data-type="advanced">Pick Stitching:</a> {{#if pick_stitching}}Yes{{else}}No{{/if}}</li>
  <li><a href="#" class="label" data-type="vest">Vest:</a> {{#if vest}}Yes (+${{vestPrice}}){{else}}No{{/if}}</li>
  {{#if vest}}
    <li><a href="#" class="label" data-type="vest_buttons">Vest Buttons:</a> {{vest_buttons}}</li>
  {{/if}}
</ul>
<div class="four columns">
  <ul>
    <li><span class="label">Total cost:</span> ${{decimalToInteger price}}</li>
  </ul>
  {{#if isNew}}
    <a href="#" class="add-to-cart"><img src="{{imgSrc 'icons/shopping-cart-black.png'}}"></a>
    <a href="#" class="button add-to-cart">Add To Cart</a>
  {{else}}
    <a href="#" class="button save-changes">Save Changes</a>
  {{/if}}
</div>