<ul class="six columns">
  <li><a href="#" class="label" data-type="collar">Collar:</a> {{uppercaseFirst collar}}</li>
  <li><a href="#" class="label" data-type="fit">Fit:</a> {{uppercaseFirst fit}}</li>
  <li><a href="#" class="label" data-type="pocket">Pocket:</a> {{#if pocket}}Yes{{else}}No{{/if}}</li>
  <li><a href="#" class="label" data-type="monogram">Monogram:</a> {{#ifGreaterThan monogram.length 0}}{{monogram}} ({{monogram_color}}) (+${{shirtMonogramPrice}}){{else}}None{{/ifGreaterThan}}</li>
</ul>
<div class="six columns">
  <ul>
    <li><span class="label">Total cost:</span> ${{decimalToInteger price}}</li>
  </ul>
  {{#if isNew}}
    <a href="#" class="button add-to-cart"><img src="{{imgSrc 'icons/shopping-cart.png'}}"> Add To Cart</a>
  {{else}}
    <a href="#" class="button save-changes">Save Changes</a>
  {{/if}}
</div>