<div class="twelve columns">
  <p>{{text}}</p>
</div>

<div class="six columns">
  <a href="#" class="yes button">Yes</a>
</div>
<div class="six columns">
  <a href="#" class="no button">No</a>
</div>
