<div class="twelve columns">
  <p>{{text}}</p>
</div>

<div class="six columns">
  <a href="#" class="confirm button">{{confirmText}}</a>
</div>
<div class="six columns">
  <a href="#" class="cancel button">{{cancelText}}</a>
</div>
