<div class="row">
  <div class="six columns">
    <p>Please read over your measurements one last time and ensure that they are correct. If they look good, click
      "Accept" to continue.</p>
  </div>
  <div class="three columns">
    <a href="#" class="button previous" style="display: none;">Previous</a>
  </div>
  <div class="three columns">
    <a href="#" class="button next">Next</a>
  </div>
</div>

<div class="four columns">
  <ul class="measurement-summary-list">
    <li data-measurement="neck"><a href="#" class="label" data-index="1">Neck:</a> {{neck}}"</li>
    <li data-measurement="chest"><a href="#" class="label" data-index="2">Chest:</a> {{chest}}"</li>
    <li data-measurement="front"><a href="#" class="label" data-index="3">Front:</a> {{front}}"</li>
    <li data-measurement="stomach"><a href="#" class="label" data-index="4">Stomach:</a> {{stomach}}"</li>
    <li data-measurement="waist"><a href="#" class="label" data-index="5">Waist:</a> {{waist}}"</li>
  </ul>
</div>

<div class="four columns">
  <ul class="measurement-summary-list">
    <li data-measurement="hips"><a href="#" class="label" data-index="6">Hips:</a> {{hips}}"</li>
    <li data-measurement="full_shoulders"><a href="#" class="label" data-index="7">Full Shoulders:</a> {{full_shoulders}}"</li>
    <li data-measurement="back"><a href="#" class="label" data-index="8">Back:</a> {{back}}"</li>
    <li data-measurement="arm_length"><a href="#" class="label" data-index="9">Arm Length:</a> {{arm_length}}"</li>
    <li data-measurement="bicep"><a href="#" class="label" data-index="10">Bicep:</a> {{bicep}}"</li>
  </ul>
</div>

<div class="four columns">
  <ul class="measurement-summary-list">
    <li data-measurement="wrist"><a href="#" class="label" data-index="11">Wrist:</a> {{wrist}}"</li>
    <li data-measurement="jacket_length"><a href="#" class="label" data-index="12">Jacket Length:</a> {{jacket_length}}"</li>
    {{#unless shirtOnly}}
      <li data-measurement="crotch"><a href="#" class="label" data-index="13">Crotch:</a> {{crotch}}"</li>
      <li data-measurement="thigh"><a href="#" class="label" data-index="14">Thigh:</a> {{thigh}}"</li>
      <li data-measurement="pant_length"><a href="#" class="label" data-index="15">Pant Length:</a> {{pant_length}}"</li>
    {{/unless}}
  </ul>
</div>