<div class="twelve columns">
  <p>Please read over your measurements one last time and ensure that they are correct. If they look good, click
    "Accept" to continue.</p>
</div>

<div class="four columns">
  <ul>
    <li data-measurement="neck"><span class="label">Neck:</span> {{neck}}"</li>
    <li data-measurement="chest"><span class="label">Chest:</span> {{chest}}"</li>
    <li data-measurement="front"><span class="label">Front:</span> {{front}}"</li>
    <li data-measurement="stomach"><span class="label">Stomach:</span> {{stomach}}"</li>
    <li data-measurement="waist"><span class="label">Waist:</span> {{waist}}"</li>
  </ul>
</div>

<div class="four columns">
  <ul>
    <li data-measurement="hips"><span class="label">Hips:</span> {{hips}}"</li>
    <li data-measurement="full_shoulders"><span class="label">Full Shoulders:</span> {{full_shoulders}}"</li>
    <li data-measurement="back"><span class="label">Back:</span> {{back}}"</li>
    <li data-measurement="arm_length"><span class="label">Arm Length:</span> {{arm_length}}"</li>
    <li data-measurement="bicep"><span class="label">Bicep:</span> {{bicep}}"</li>
  </ul>
</div>

<div class="four columns">
  <ul>
    <li data-measurement="wrist"><span class="label">Wrist:</span> {{wrist}}"</li>
    <li data-measurement="jacket_length"><span class="label">Jacket Length:</span> {{jacket_length}}"</li>
    <li data-measurement="crotch"><span class="label">Crotch:</span> {{crotch}}"</li>
    <li data-measurement="thigh"><span class="label">Thigh:</span> {{thigh}}"</li>
    <li data-measurement="pant_length"><span class="label">Pant Length:</span> {{pant_length}}"</li>
  </ul>
</div>