<div class="row">
  <div class="twelve columns">
    <h2>Create Account</h2>
    <p>We noticed that you don't have an account. If you'd like your measurements to be saved, please create an account.
      If you don't want to create an account at the moment, click "Cancel". Although doing this will not save your
      measurements for later use once you leave the site.</p>
    <p class="error" style="display: none;">There were some problems creating your account:</p>
    <ul class="error" style="display: none;"></ul>
    <form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
      <label for="user_name">Name</label>
      <input id="user_name" name="user[name]" size="30" type="text"/>
      <label for="user_email">Email</label>
      <input id="user_email" name="user[email]" size="30" type="email"/>
      <label for="user_password">Password</label>
      <input id="user_password" name="user[password]" size="30" type="password" data-typetoggle="#show_password"/>
      <label><input type="checkbox" id="show_password">Show password</label>
      <input id="measurement_id" name="measurement_id" type="hidden" value="52">
      <div class="row">
        <div class="six columns">
          <input class="button full-width" name="commit" type="submit" value="Sign Up" />
        </div>
        <div class="six columns">
          <a href="#" class="button full-width cancel">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>