<a href="#"><img src="{{imgSrc defaultProductImage.regular}}"></a>
<div class="product-info-wrapper">
  <div class="product-info">
    <div class="product-name">
      <a href="#">{{name}}<span class="divider"> // </span><span class="dollar">$</span>{{decimalToInteger price}}</a>
    </div>
    <a href="#" class="customize">Click To View</a>
  </div>
</div>
