<a class="close-reveal-modal">&#215;</a>
<div class="row">
  <h2 class="eight columns">{{name}}<span class="divider">&nbsp;//&nbsp;</span>${{decimalToInteger price}}</h2>
</div>
<div class="row">
  <div class="five columns preview-wrapper">
    <ul class="modal-suit-preview three columns">
      <li><a href="#"><img src="{{imgSrc image_small_1_url}}"></a></li>
      <li><a href="#"><img src="{{imgSrc image_small_2_url}}"></a></li>
      <li><a href="#"><img src="{{imgSrc image_small_3_url}}"></a></li>
      <li><a href="#"><img src="{{imgSrc image_small_4_url}}"></a></li>
    </ul>
    <div class="magnify nine columns">
      <div class="magnify-large"></div>
      <img class="main magnify-small" src="{{imgSrc image_large_url}}">
    </div>
  </div>
  <div class="seven columns">
    <h4>{{summary}}</h4>
    <p class="blurb">{{description}}</p>
    {{#if customizable}}
      <a href="#" class="customize button large full-width">Click To Customize</a>
    {{else}}
      <a href="#" class="add-to-cart button large full-width">Add to Cart</a>
    {{/if}}
  </div>
</div>
