<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Somebody wants a tape measure mailed to them.</p>
<%= render 'shared/request_email', resource: @tape_measure_request %>
</body>
</html>