<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

</head>
<body style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
<table width="100%" id="background" border="0" cellpadding="0" cellspacing="0">
  <tr><td align="center" valign="top" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
    <table width="650" id="main" border="0" cellpadding="0" cellspacing="20">
      <tr>
        <td id="header" colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;text-align:center;">
          <a href="https://www.tailoredrepublic.com"><img src="https://d195zx82sfk1xc.cloudfront.net/assets/logos/logo-shield.png" width="443" height="66" alt="Tailored Republic"></a>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="color: #000000;font-size: 14px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <p>Hey <%= @tape_measure_request.shipping_address.name %>,</p>
          <p>Your Tailored Republic tape measure will be in the mail shortly and should arrive within 3-5 business days.
            While you are waiting for your tape measure you should load up your shopping cart with some dapper suits and
            tailored shirts: <%= link_to 'https://www.tailoredrepublic.com/shop/suits', 'https://www.tailoredrepublic.com/shop/suits' %>.
            We are excited to make you the best dressed man in any room that you walk into. Feel free to contact us
            with any questions that you may have.
          </p>
          <p>
            -Brian Luscombe<br/>
            COO, Tailored Republic<br/>
            www.tailoredrepublic.com<br/>
            503 504 2603
          </p>
          <p>Don't forget to check us out at any of our social media outlets:</p>
        </td>
      </tr>
      <%= render 'shared/email_social_media_dock' %>
      <tr>
        <td id="footer" colspan="2" align="center" style="color: #555555;font-size: 11px;font-family: Verdana,Helvetica,Arial,sans-serif;">
          <p>&copy;2013 Tailored Republic // <%= link_to 'www.tailoredrepublic.com', 'https://www.tailoredrepublic.com' %></p>
        </td>
      </tr>
    </table>
  </td></tr>
</table>
</body>
</html>