$brown: #CDA36D;
$darker-brown: darken($brown, 20%);
$grey: #828282;
$maple: #D0A66E;

@mixin slanted-edge-before($height, $color) {
  &:before {
    content: '';
    border-left: $height solid transparent;
    border-bottom: $height + 1px solid $color;
    position: absolute;
    left: -$height + 1px;
    top: 0;
  }
}

@mixin slanted-edge-after($height, $color) {
  &:after {
    content: '';
    border-top: $height + 1px solid $color;
    border-right: $height solid transparent;
    position: absolute;
    right: -$height + 1px;
    top: 0;
  }
}

@mixin input-error {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1);
}

@mixin font($type) {
  @if $type == body {
    font-family: "Clarendon Lt", sans-serif;
    font-weight: 200;
  } @else if $type == header {
    font-family: "United Serif SemiCond", serif;
  } @else if $type == italic {
    font-family: "United Italic Cond", sans-serif;
  } @else if $type == clean {
    font-family: "United Sans Cond", sans-serif;
  } @else if $type == fancy {
    font-family: "United Serif SemiCond", serif;
  }
}

@mixin white-anchor {
  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }
}

@mixin shop-texture($repeat: no-repeat) {
  //background: url(textures/top-picks-texture.jpg) $repeat top center;
  //@if $repeat == 'no-repeat' {
  //  background-size: 100% 100%;
  //} @else {
  //  background-size: 100%;
  //}
  //overflow: hidden;
  //
  //@media only screen and (max-width: 767px) {
  //  background-size: 100%;
  //  background: url(textures/top-picks-texture.jpg) repeat-y center top;
  //  margin-bottom: 30px;
  //}
}