$brown: #CDA36D;
$grey: #B2B2B2;

@mixin slanted-edge-before($height, $color) {
  &:before {
    content: '';
    border-left: $height solid transparent;
    border-bottom: $height + 4px solid $color;
    position: absolute;
    left: -$height;
    top: 0;
  }
}

@mixin slanted-edge-after($height, $color) {
  &:after {
    content: '';
    border-top: $height + 4px solid $color;
    border-right: $height solid transparent;
    position: absolute;
    right: -$height;
    top: 0;
  }
}

@mixin white-anchor {
  a {
    color: #fff;

    &:hover {
      color: #ccc;
    }
  }
}

@mixin shop-texture($repeat: no-repeat) {
  background: url(top-picks-texture.png) $repeat top center;
  @if $repeat == 'no-repeat' {
    background-size: 100% 100%;
  } @else {
    background-size: 100% auto;
  }
  overflow: hidden;

  @media only screen and (max-width: 767px) {
    background-size: 100% auto;
    background: url(top-picks-texture.png) repeat-y center top;
    margin-bottom: 30px;
  }
}