@import "_mixins";
@import "compass/utilities/general/clearfix";

.carts {
  #main {
    @include shop-texture(repeat-y);
  }

  .remove {
    font-weight: bold;
    margin-right: 5px;
    margin-top: 5px;
  }

  .cart-item {
    @include clearfix;
    margin-bottom: 10px;
    border: 2px dashed #ddd;
    padding: 5px;

    h3 {
      border-bottom: 1px solid #333;
      padding-bottom: 5px;
    }
  }
  
  .cart-total {
    float: right;
    margin-bottom: 20px;

    .price {
      font-weight: bold;
    }
  }

  .product-image {
    max-height: 250px;
  }

  .remove {
    float: right;
  }
}