@import "_mixins";
@import "compass/utilities/general/clearfix";

.carts {
  overflow-y: scroll;

  #main {
    @include shop-texture(repeat-y);
  }

  .edit-customizations {
    margin-top: 10px;
  }

  .customization-list-wrapper {
    margin-top: 10px;
  }

  .remove {
    font-weight: bold;
  }

  .line-item {
    @include clearfix;
    margin-bottom: 10px;
    border: 1px dashed #999;
    background-color: #fff;
    padding: 15px 5px;

    .twelve {
      text-align: right;
      margin-right: 20px;
    }

    h3 {
      border-bottom: 1px solid #333;
      padding-bottom: 5px;
    }

    select {
      display: inline-block;
      width: 50px;
      margin-left: 5px;
      margin-bottom: 0;
    }

    label {
      display: inline;
      color: #000;
    }
  }
  
  .cart-total {
    float: right;
    margin-bottom: 20px;
    width: 100%;

    h5 {
      text-align: center;
    }

    .price {
      font-weight: bold;
    }
  }

  .product-image {
    max-height: 250px;
  }

  .remove {
    float: right;
  }
}