@import "compass/css3";
@import "_mixins";
@import "foundation/mixins/clearfix";

footer {
  background-color: #000;
  @include white-anchor;
  @include clearfix;
  padding-bottom: 10px;
  position: relative;
  z-index: 1;

  input[type=text] {
    @include border-radius(0);
    background: rgba(255, 255, 255, 0.1);
    color: #999;
    border: none;
    outline: none;
    color: #ccc;
    font-weight: lighter;
    padding-top: 10px;

    &:focus {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  input[type=submit] {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-weight: bold;
    display: inline-block;
    color: #ccc;
    padding: 8px 10px 5px 10px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    @include font("body");

    &:hover {
      background: #222;
    }
  }

  @media only screen and (max-width: 767px) {
    height: auto;
  }

  .content-wrapper {
    position: relative;
    @include clearfix;
  }

  @media only screen and (max-width: 767px) {
    ul.hide-small {
      display: none;
    }
  }

  h5 {
    display: inline-block;
    background-color: #000;
    padding: 0 10px;
    margin-left: -10px;
    color: #fff;
    @include font("clean");
    font-weight: 700;
    font-size: 24px;

    @media only screen and (max-width: 767px) {
      &.expandable {
        cursor: pointer;
      }
      padding: 0;
      margin: 5px 0;
    }

    span {
      display: none;
      margin-left: 5px;
      @media only screen and (max-width: 767px) {
        display: inline-block;
      }
    }
  }

  .strikethrough {
    @media only screen and (max-width: 767px) {
      display: none;
    }
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 26px;
    right: 17px;
    left: 0;
    margin-left: 20px;
  }

  .content-wrapper {
    margin-top: 10px;
  }

  li {
    color: #fff;
    @include font("clean");
    font-size: 19px;

    &.copyright {
      font-size: 16px;
      color: #777;
      text-align: right;
      
      @media only screen and (max-width: 767px) {
        text-align: left;
      }

      a {
        color: #777;
      }
    }
  }

  .social {
    margin-top: 5px;

    a:hover {
      text-decoration: none;
    }

    img {
      width: 22px;
      margin-right: 5px;

      @media only screen and (max-width: 860px) {
        width: 17px;
      }

      @media only screen and (max-width: 767px) {
        width: 22px;
      }
    }
  }
}