@import "compass/css3";
@import "_mixins";
@import "foundation/mixins/clearfix";

footer {
  input[type=text] {
    @include border-radius(0);
    @include background(radial-gradient(#404040, #333));
    color: #999;
    border: none;
    outline: none;
    color: #fff;
    font-weight: lighter;

    &:focus {
      @include background(radial-gradient(#404040, #333));
    }
  }

  input[type=submit] {
    @include background(radial-gradient(#BBB, #666));
    border: none;
    font-weight: bold;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      color: #fff;
      @include background(radial-gradient(#DDD, #666));
    }
  }

  @media only screen and (max-width: 767px) {
    height: inherit;
  }

  .content-wrapper {
    position: relative;
    @include clearfix;
  }

  h5 {
    display: inline-block;
    background-color: #000;
    padding: 0 10px;
    margin-left: -10px;
    color: #fff;
    @include font("clean");
    font-weight: 700;
    font-size: 24px;
  }

  .strikethrough {
    @media only screen and (max-width: 767px) {
      display: none;
    }
    border-bottom: 1px solid #fff;
    position: absolute;
    top: 23px;
    right: 17px;
    left: 0;
  }

  background-color: #000;
  border-top: 1px solid #fff;
  @include white-anchor;
  @include clearfix;

  .content-wrapper {
    margin-top: 10px;
  }

  li {
    color: #fff;
    @include font("clean");
    font-size: 19px;
  }


  .social {
    margin-top: 5px;

    a:hover {
      text-decoration: none;
    }

    img {
      width: 22px;
      margin-right: 5px;

      @media only screen and (max-width: 860px) {
        width: 17px;
      }

      @media only screen and (max-width: 767px) {
        width: 22px;
      }
    }
  }
}