// Place all the styles related to the measurements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities/general/clearfix";
@import "_mixins";

.measurements {

  .height-age-weight input {
    @media only screen and (min-width: 768px) {
      max-width: 50%;
    }
  }

  a.begin {
    margin-bottom: 16px;
  }

  .progress-bar li {
    @media only screen and (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }

  .error-list {
    clear: both;
  }

  .progress-bar {
    margin: 0 -15px;
  }

  .next-col {
    margin-right: -30px;
  }

  .previous-col {
    margin-left: -30px;
  }

  .measurement-list-item {
    .youtube-video {
      display: block;
      margin-top: 30px;
      height: 270px;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -27.5px;
        margin-top: -19px;
      }
    }
    iframe {
      margin-top: 30px;
    }
    @media only screen and (max-width: 850px) {
      .six {
        width: auto !important;
        float: none;
      }
    }
  }

  .measurement-overview {
    @media only screen and (max-width: 886px) and (min-width: 767px) {
      label {
        height: 47px;
      }
    }

    input.error {
      @include input-error;
    }
  }

  .bx-wrapper {
    margin-bottom: 20px;
  }

  .measurements-list ul {
    margin-bottom: 20px;
  }

  .measurement-summary {
    ul {
      margin-left: 0;
    }
    p.accept-text {
      margin-bottom: 16px;
    }
  }

  .quick-measurement-form {
    .four {
      padding-left: 0;
      @media only screen and (max-width: 767px) {
        padding: 0;
      }
    }
  }

  .measuring-tape {
    width: 100%;
    height: 60px;
    background-image: url(measurements/ruler.jpg);
    background-repeat: repeat-x;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    box-shadow: inset 5px 0px 20px -2px #999, inset -5px 0px 20px -2px #999;

    .pointer {
      background: url(measurements/tie.png) no-repeat 1px 0px;
      height: 60px;
      width: 10px;
      margin: 0 auto;
      background-size: auto 59px;
    }
  }

  .measurements-list {
    @include clearfix;
    margin-bottom: 10px;
    padding: 15px 0;

    form {
      margin: 15px 0 10px 0;
    }

    a.previous, a.next, a.accept {
      max-width: 150px;
      width: 100%;
      
      @media only screen and (max-width: 767px) {
        max-width: 100%;
      }
    }
  }

  input.measurement-input {
    width: 80px;
    margin: 0 auto;
  }

  p.error {
    margin-top: 10px;
    text-align: center;
  }
}

#new-user-modal {
  p.error {
    text-align: left;
  }
}
