// Place all the styles related to the measurements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities/general/clearfix";

.measurements {
  .columns {
    padding: 0;
  }

  .measurements-list {
    @include clearfix;
    margin: 20px 0;
  }

  .button {
    width: 150px;
  }

  input[type=text] {
    width: 80px;
  }

  a.previous {
    float: right;
    margin-right: 10px;

    @media only screen and (max-width: 767px) {
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  a.next {
    @media only screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 10px;
    }

  }
}