@import "_mixins";
@import "compass/utilities/general/clearfix";

.orders {

  #payment-information ul {
    margin-bottom: 10px;

    li {
      color: #4d4d4d;
    }
  }

  .thank-you-row {
    margin: 20px auto;
    max-width: 800px;

    .twelve {
      border: 1px dashed #ccc;
      padding: 20px 20px;
    }

    ul {
      margin-bottom: 17px;
    }
  }

  .social-media-dock {
    a:hover {
      text-decoration: none;
    }
    max-width: 650px;

    img {
      width: 50px;
    }

    li {
      width: 19%;
      display: inline-block;

      @media only screen and (max-width: 450px) {
        width: 18%;
      }
    }
  }

  &.index {

   .order-list-item {
      border: 1px dashed #aaa;
      @include clearfix;
      margin-bottom: 16px;
    }

    h5 {
      font-weight: bold;
      margin-bottom: 6px;
    }

    @media only screen and (max-width: 767px) {
      ul {
        margin-bottom: 10px;
      }
      .items-purchased {
        margin-top: 0;
      }
    }

    .order-number {
      margin-top: 30px;
    }

    .items-purchased {
      margin-top: 10px;

      li:last-child {
        padding-top: 5px;
        border-top: 1px solid #aaa;
      }
    }
    
    .item-description {
      display: inline-block;
      width: 150px;
      font-weight: bold;
    }
  }

  &.review {
    .label {
      width: 126px;
      display: inline-block;
    }

    form .edit-information {
      display: inline-block;
      margin-top: 10px;
      font-weight: bold;
      color: darken($brown, 20%);
    }
  }

  .billing-shipping-label {
    margin: 10px 0;
  }

  .faq {
    margin-bottom: 20px;
  }

  .cart-summary {
    .label {
      font-weight: bold;
      width: 160px;
      display: inline-block;
      margin-right: 10px;
    }

    .total {
      padding-top: 5px;
      border-top: 1px solid #aaa;
    }
  }

  .view-cart {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .cart-summary-wrapper {
    margin-bottom: 16px;
  }
}