@import '_mixins';
@import "compass/css3";

body.pages {
  h4, h5 {
    font-weight: bold;
  }
  h4 {
    border-bottom: 2px dotted #000;
  }
  p {
    margin-bottom: 25px;
  }

  .sub-nav dd {
    display: inline-block;
    font-weight: bold;
    @include font("header");
    font-size: 20px;

    a {
      display: inline-block;
      margin-right: 10px;
    }

    .divider {
      margin-right: 5px;
      display: inline-block;
    }
    
    @media only screen and (max-width: 767px) {
      display: block;

      .divider {
        display: none;
      }
    }
  }

  .gift-card-row img {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid transparent;

    &:hover {
      border: 1px dashed #aaa;
      @include border-radius(5px);
    }
  }
}