@import "_mixins";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

.button {
  background-color: $brown;
  padding: 7px 10px 5px 10px;
  @include font("header");
  font-weight: bold;
  color: #fff;
  display: inline-block;
  font-size: 18px;

  &:hover {
    color: #fff;
    @include background(linear-gradient($darker-brown, $brown));
  }

  &:active {
    @include box-shadow(inset 0px 2px 7px 1px #666);
  }
}

#suits-wrapper {
  margin-bottom: 100px;
  @include clearfix;

  .product-wrapper {
    @include font("italic");
    text-align: center;
    display: inline-block;
    @media only screen and (max-width: 1200px) {
      width: 50%;
    }
  }

  .product-info-wrapper {
    @include clearfix;
    position: relative;
    margin-bottom: 10px;
  }

  img {
    border: 5px solid #fff;
  }

  .product-info {
    width: 72%;
    float: left;
    margin-top: 10px;
  }

  .product-name {
    a {
      color: #fff;
    }

    background-color: #000;
    text-align: center;
    padding: 10px 0 5px 0;
    font-weight: bold;
    font-size: 22px;
  }

  .customize {
    color: $brown;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    border: 4px solid white;
    padding: 15px 0 10px 0;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
  }

  .product-price {
    width: 25%;
    margin-top: 10px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 3px solid #EEE;
    @include font("clean");

    .dollar {
      vertical-align: super;
      font-size: 18px;
    }

    .price {
      font-size: 24px;
    }
  }

  .product-price-text-wrapper {
    top: 37%;
    left: 18%;
    font-weight: bold;
    position: absolute;
    @media only screen and (max-width: 1200px) {
      left: 30%;
    }

  }
}