@import "_mixins";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

.label {
  font-weight: bold;
}

body.gift_cards, body.pages, body.measurements, body.shop, body.thank_you, #top-picks, body.carts, body.sessions,
body.registrations, body.passwords, body.orders, body.users {
  background-image: url(textures/roughcloth.png); zoom: 1; background-repeat: repeat repeat;
}

.content-wrapper {
  padding: 0 60px;

  @media only screen and (min-width: 1200px) {
    padding: 0 90px;
  }

  @media only screen and (max-width: 767px) {
    padding: 0 30px;
  }

  @media only screen and (max-width: 450px) {
    padding: 10px;
  }
}

$arrow-edge-length: 6px;

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: $arrow-edge-length solid transparent;
  border-right: $arrow-edge-length solid transparent;
  border-top: $arrow-edge-length + 3px solid #000;
}

.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: $arrow-edge-length solid transparent;
  border-bottom: $arrow-edge-length solid transparent;
  border-left: $arrow-edge-length + 3px solid #000;
}

.flash {
  padding: 10px;
  margin-bottom: 20px;

  &.alert {
    color: #B94A48;
    background-color: #F2DEDE;
    border-bottom: 1px solid #EED3D7;
    border-top: 1px solid #EED3D7;
  }

  &.notice {
    color: #fff;
    background-color: $brown;
    border-top: 1px solid darken($brown, 20%);
    border-bottom: 1px solid darken($brown, 20%);
  }
}

#error_explanation {
  margin-bottom: 10px;

  h5 {
    margin-top: 0;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
}

.clear-footer {
  height: 215px;
  clear: both;
}

.dialog {
  .close-reveal-modal {
    display: block;
  }

  .twelve {
    margin-top: 10px;
  }

  .button {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 767px) and (min-width: 480px) {
    width: 50% !important;
    margin-left: -25% !important;
  }

}

input[type=submit] {
  font-weight: normal;
}

.inline {
  display: inline;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.error {
  color: #B94A48;
}

.button {
  background-color: $brown;
  padding: 7px 10px 5px 10px;
  @include font("header");
  font-weight: bold;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color 250ms;

  &:hover {
    color: #fff;
    background-color: darken($brown, 10%);
    text-decoration: none;
    -webkit-transition: all 250ms;
  }

  &:active {
    @include box-shadow(inset 0px 2px 7px 1px #666);
  }
  
  &.full-width {
    width: 100%;
  }

  &.large {
    font-size: 24px;
  }

  &.disabled {
    color: lighten($brown, 10%);
  }
}

.products-wrapper {
  @include clearfix;

  .product-wrapper {
    float: left !important;
    padding: 0;
    padding-right: 15px;

    @include font("italic");
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    @media only screen and (max-width: 1000px) {
      width: 50%;
    }

    @media only screen and (max-width: 360px) {
      .three {
        width: auto !important;
      }
    }
  }

  .product-info-wrapper {
    @include clearfix;
    position: relative;
    margin-bottom: 10px;
  }

  img {
    border: 5px solid #fff;
  }

  .product-info {
    margin-top: 10px;
  }

  .product-name {
    a {
      color: #fff;
    }

    background-color: #000;
    text-align: center;
    padding: 6px 0 5px 0;
    font-weight: bold;
    font-size: 22px;
  }

  .dollar {
    font-size: 18px;
  }

  .customize {
    color: $brown;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    border: 4px solid white;
    padding: 15px 0 10px 0;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
  }
}

ul.error {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

p.error {
  margin-bottom: 5px !important;
}

.field_with_errors {
  label {
    color: #B94A48;
  }
  input {
    @include input-error;
  }
}

#checkout-progress {
  $border-color: #666;

  .disabled {
    color: #aaa;
  }

  .three {
    @include font("header");
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 5px;
    text-align: center;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    background-color: #fff;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    @media only screen and (max-width: 767px) {
      border-top: 1px solid $border-color;
      border-right: none;
      border-left: none;
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid $border-color;
      }
    }

    &.current {
      background-color: $brown;
      color: #fff;
    }
  }
}

.state-dropdown {
  height: 34px;
  border: 1px solid #ccc;
  margin-bottom: 7px;
}

a.previous, a.next, a.accept {
  margin-top: 10px;
  width: 150px;
}

a.previous {
  @media only screen and (max-width: 767px) {
    float: none;
    width: 100%;
  }
}

a.next, a.accept {
  margin-bottom: 10px;
  @media only screen and (max-width: 767px) {
    width: 100%;
  }
}

.outlined {
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 15px;
  margin-bottom: 16px;

  p:last-child {
    margin-bottom: 0;
  }
}

.bold {
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 20px;
}