@import "_mixins";
@import "compass/utilities/general/clearfix";
@import "compass/css3";

.label {
  font-weight: bold;
}


.content-wrapper {
  padding: 0 15px;
}

$arrow-edge-length: 6px;

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: $arrow-edge-length solid transparent;
  border-right: $arrow-edge-length solid transparent;
  border-top: $arrow-edge-length + 3px solid #000;
}

.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: $arrow-edge-length solid transparent;
  border-bottom: $arrow-edge-length solid transparent;
  border-left: $arrow-edge-length + 3px solid #000;
}

.flash {
  padding: 10px;
  margin-bottom: 20px;

  &.alert {
    color: #B94A48;
    background-color: #F2DEDE;
    border-bottom: 1px solid #EED3D7;
    border-top: 1px solid #EED3D7;
  }

  &.notice {
    color: #fff;
    background-color: $brown;
    border-top: 1px solid darken($brown, 20%);
    border-bottom: 1px solid darken($brown, 20%);
  }
}

#error_explanation {
  margin-bottom: 10px;

  h5 {
    margin-top: 0;
  }

  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
}

.clear-footer {
  height: 215px;
  clear: both;
}

.dialog {
  .close-reveal-modal {
    display: block;
  }

  .twelve {
    margin-top: 10px;
  }

  .button {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 767px) {
    width: 50% !important;
    margin-left: -25% !important;
  }

}

input[type=submit] {
  font-weight: normal;
}

.inline {
  display: inline;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.error {
  color: #B94A48;
}

.button {
  background-color: darken($brown, 10%);
  padding: 7px 10px 5px 10px;
  @include font("header");
  font-weight: bold;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-align: center;

  &:hover {
    color: #fff;
    background-color: darken($brown, 20%);
    text-decoration: none;
  }

  &:active {
    @include box-shadow(inset 0px 2px 7px 1px #666);
  }
  
  &.full-width {
    width: 100%;
  }

  &.large {
    font-size: 24px;
  }
}

.suits-wrapper {
  @include clearfix;

  .product-wrapper {
    @include font("italic");
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
    @media only screen and (max-width: 1200px) {
      width: 50%;
    }
  }

  .product-info-wrapper {
    @include clearfix;
    position: relative;
    margin-bottom: 10px;
  }

  img {
    border: 5px solid #fff;
  }

  .product-info {
    margin-top: 10px;
  }

  .product-name {
    a {
      color: #fff;
    }

    background-color: #000;
    text-align: center;
    padding: 10px 0 5px 0;
    font-weight: bold;
    font-size: 22px;
  }

  .dollar {
    font-size: 18px;
  }

  .customize {
    color: $brown;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    border: 4px solid white;
    padding: 15px 0 10px 0;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
  }
}

ul.error {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

p.error {
  margin-bottom: 5px;
}

.field_with_errors {
  label {
    color: #B94A48;
  }
  input {
    border-color: #c60f13;
    background-color: rgba(198, 15, 19, 0.1);
  }
}

#checkout-progress {
  margin-bottom: 20px;
  $border-color: #666;
  .three {
    @include font("header");
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 5px;
    text-align: center;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;

    &:last-child {
      border-right: 1px solid $border-color;
    }

    @media only screen and (max-width: 767px) {
      border-top: 1px solid $border-color;
      border-right: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid $border-color;
      }
    }

    &.current {
      background-color: $brown;
      color: #fff;
    }
  }
}