@import "_mixins";
@import "compass";

.shop {
  a.selected {
    font-weight: bold;
  }
}

#shop {
  @include shop-texture(repeat-y);
}

#add-success-modal {
  h3, h4 {
    text-align: center;
  }

  .button-column {
    margin-bottom: 16px;

    @media only screen and (max-width: 767px) {
      text-align: center !important;
    }

    &:nth-of-type(1) {
      text-align: right;
    }
    
    &:nth-of-type(2) {
      text-align: left;
    }
  }
}

#product-modal {

  .magnify-small {
    max-height: 500px;
    cursor: crosshair;
  }

  .magnify {
    text-align: center;
  }
  .product-magnified {
    text-align: center;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      max-width: none;
      top: 0;
      left: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .preview-wrapper {
      margin-bottom: 10px;
    }
    .magnify {
      width: 75% !important;
      float: left !important;
    }

    .modal-suit-preview {
      width: 25% !important;
      float: left !important;
    }
  }
}

.customizations {
  clear: both;
  @include clearfix;
  font-weight: 200;

  .label {
    font-weight: bold;
    color: #000;
  }

  h3, h5 {
    text-align: center;
    color: #000;
  }

  p {
    color: #000;
    clear: left;
    padding: 10px 15px;
    font-weight: 200;
  }

  h5 {
    margin-bottom: 5px;
    position: relative;

    span {
      position: absolute;
      margin-left: 5px;
    }
  }

  h3 {
    font-size: 36px;
    margin: 5px 0;
    position: relative;

    &.customize {
      margin: 10px;
      background-color: white;
      padding: 5px
    }

    a {
      height: 35px;
      width: 22px;
      position: absolute;

      &.left {
        left: 10px;
        background: url(icons/left-arrow-brown.png) no-repeat center center;
      }

      &.right {
        right: 10px;
        background: url(icons/right-arrow-brown.png) no-repeat center center;
      }
    }
  }

  .linings {
    img {
      width: 150px;
      padding: 5px;
      border: 1px solid transparent;
    }
    
    .three {
      @media only screen and (max-width: 767px) {
        width: 50% !important;
        float: left !important;
      }
    }

    .lining-option {
      display: block;
      text-align: center;
      padding: 5px;


      &.selected img {
        border: 1px dashed #aaa;
      }
    }

    .label {
      display: block;
      font-weight: normal;
    }

    .button-row {
      text-align: center;
      margin: 15px;
    }
  }

  .customization-option {
    display: block;
    float: left;
    background-color: #fff;

    &.shirt {
      height: 190px;
    }

    &.vest, &.shirt {
      @media only screen and (max-width: 767px) {
        width: 50%;
      }
    }

    img {
      height: 130px;
      display: block;
      margin: auto;
      padding: 5px;

      &.checked {
        border: 1px dashed #aaa;
      }

      &.cuffs {
        height: auto;
      }

      &.monogram, &.pick-stitching {
        height: 170px;

        @media only screen and (max-width: 455px) {
          height: 140px;
        }

      }
    }

  }

  .customization-wrapper {
    background-color: #fff;
    padding: 5px;
    @include clearfix;
    position: relative;

    .recommended {
      color: #000;
      padding: 5px;
      text-align: center;

      img {
        height: 24px;
        margin-right: 3px;
        display: inline-block;
      }

      span {
        vertical-align: 7px;
      }
    }

    h5 {
      margin-top: 0;
    }

    .vest-overlay {
      position: absolute;
      background-color: black;
      right: 5px;
      left: 5px;
      bottom: 5px;
      top: 50px;
      opacity: 0.7;
      color: #fff;

      p {
        color: white;
        vertical-align: middle;
        position: absolute;
        top: 40%;
        font-weight: bold;
        text-align: center;
        padding: 0px 10px;
      }
    }

    &.advanced {
      .twelve {
        margin-bottom: 10px;
        text-align: center;
      }

      .button {
        width: 100px;
      }
    }

    &.fabric {

      .selected img {
        background-color: #ccc;
      }

      img {
        border: 1px dashed #ccc;
        padding: 5px;

        &:hover {
          background-color: #ccc;
        }
      }

      .three {
        text-align: center;
        
        @media only screen and (max-width: 767px) {
          width: 50% !important;
          float: left !important;
        }
      }
    }
  }

  .customization-wrapper.two-item {
    .customization-option {
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

.customization-summary {
  ul {
    margin-left: 0;
  }
  .button {
    vertical-align: top;
    img {
      margin-right: 5px;
    }
  }
}

.modal-suit-preview {
  img {
    border: 1px solid #ccc;
  }
}

.previous-col {
  margin-left: -25px;
  text-align: left;
  
  @media only screen and (max-width: 767px) {
    margin-left: 0 !important;
  }
}

.next-col {
  margin-right: -25px;
  text-align: right;
  
  @media only screen and (max-width: 767px) {
    margin-right: 0 !important;
  }
}



