@import "_mixins";
@import "compass";

.shop {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    background-color: #000;
    color: #fff;
  }

  #suits-wrapper {
    margin-top: 40px;
  }
}

.reveal-modal {
  h2 {
    margin-left: 9%;
  }

  img.main {
    max-height: 500px;
  }

  .customizations {
    background-color: #888;
  }

  .blurb {
    font-family: "United Sans Reg", sans-serif;
    font-size: 20px;
  }

  .customizations {
    h3, h5 {
      font-family: "United Sans Reg", sans-serif;
      text-align: center;
      color: #fff;
    }

    p {
      font-family: "United Sans Reg", sans-serif;
      color: #fff;
      clear: left;
      padding: 30px 20px 20px 20px;

    }

    img {
      height: 120px;
      display: block;
      margin: auto;

      &.cuffs {
       height: auto;
      }

      &.lining, &.monogram {
        height: 170px;

        @media only screen and (max-width: 455px) {
          height: 140px;
        }

      }
    }

    h5 {
      margin-bottom: 5px;
      position: relative;

      span {
        position: absolute;
        margin-left: 5px;
      }
    }

    h3 {
      margin-bottom: 0;
      padding-top: 10px;
      font-size: 36px;
    }

    .customization-option {
      display: block;
      float: left;
    }

    .customization-wrapper.two-item {
      .customization-option {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .preview-wrapper {
      margin-bottom: 10px;
    }
    .magnify {
      width: 75% !important;
      float: left !important;
    }

    .modal-suit-preview {
      width: 25% !important;
      float: left !important;
    }
  }
}

.modal-suit-preview {
  img {
    border: 1px solid #ccc;
  }
}

#shop-display {
  @include shop-texture(repeat-y);
}


//Magnifier
.large {
  width: 175px;
  height: 175px;
  position: absolute;
  border-radius: 100%;

  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
  0 0 7px 7px rgba(0, 0, 0, 0.25),
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  display: none;
}

.small {
  display: block;
}


