@import "_mixins";

.shop {
  #sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    background-color: #000;
    color: #fff;
  }

  #suits-wrapper {
    margin-top: 40px;
  }
}

#shop-display {
  @include shop-texture(repeat-y);
}

