<div class="product-wrapper three columns" data-id="<%= product.id %>">
  <a href="#"><%= image_tag product.default_photo.regular if product.default_photo %></a>
  <div class="product-info-wrapper">
    <div class="product-info">
      <div class="product-name">
        <a href="#"><%= product.name %><span class="divider"> // </span><span class="dollar">$</span><%= product.display_price %></a>
      </div>
      <a href="#" class="customize">View</a>
    </div>
  </div>
</div>
