<% products.each_slice(4) do |a, b, c, d| %>
  <div class="products-wrapper content-wrapper">
    <%= render 'products/product', product: a if a %>
    <%= render 'products/product', product: b if b %>
    <%= render 'products/product', product: c if c %>
    <%= render 'products/product', product: d if d %>
  </div>
<% end %>
