<div class="product-wrapper three columns" data-id="<%= product.id %>">
  <a href="#"><%= image_tag product.image_large_url %></a>
  <div class="product-info-wrapper">
    <div class="product-info">
      <div class="product-name">
        <a href="#"><%= product.name %><span class="divider"> // </span><span class="dollar">$</span><%= product.price %></a>
      </div>
      <a href="#" class="customize">Click To View</a>
    </div>
  </div>
</div>
