<% title_helper("Add Review - #{@product.name}") %>

<div class="row">
  <div class="twelve columns content-wrapper">
    <h1>Add Review for <%= @product.name %></h1>
    <%= render 'form', review: @review %>
    <%= link_to "Back to #{@product.name}", "/products/#{@product.slug}", class: 'button margin-bottom' %>
  </div>
</div>



