
<div class="row content-wrapper">
  <div class="twelve columns">
    <h2>Edit Testimonial</h2>
    <%= render 'form' %>
    <%= link_to 'Back to Testimonials', '/admin/testimonials', class: 'button margin-bottom' %>
  </div>
</div>
