<div class="row content-wrapper">
  <div class="twelve columns">
    <h2>Customer Testimonials</h2>
  </div>
  <%= render 'testimonials/testimonials', testimonials: @testimonials, should_paginate: true %>
</div>

<script>
  new TR.Views.Testimonials();
</script>