<section id="sidebar" role="complementary">
  <h1>Tailored Republic</h1>
  <ul class="nav">
    <li><a href="#">Suits</a></li>
    <li><a href="#">Jackets</a></li>
    <li><a href="#">Pants</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">How It Works</a></li>
  </ul>
</section>
