<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="process"><a href="/#process">The Process</a></li>
    <li class="top-picks"><a href="/#top-picks">Top Picks</a></li>
    <li class="about"><a href="/#about">About</a></li>
    <li class="lookbook"><a href="/#lookbook">Lookbook</a></li>
    <li class="shop">
      <a href="/shop" class="toggle-shop">Shop</a>
      <div class="shop-nav" style="display: none;">
        <ul>
          <li><a href="/shop/suits">Suits</a></li>
          <li><a href="/shop/shirts">Shirts</a></li>
          <li><a href="/shop/pants">Pants</a></li>
          <li><a href="/shop/accessories">Accessories</a></li>
        </ul>
      </div>
    </li>
    <li class="cart">
      <a href="cart">
        <%= image_tag "icons/shopping-cart.png" %> (<%= @cart.num_items %>)
      </a>
    </li>
  </ul>
</nav>